:root{
    --primary-color:#256024;
    --background: #f6f7f6;
    --color-object3: #153819 ;
    --color-object: #91706a;
    --color-object2: #728e72;
    --font-main: #873F2C;

    --font-heading:"DM Serif Text", serif;
    --font: "Funnel Sans", sans-serif;
}


body {
    font-family: var(--font);
    background-color: var(--background);
    color: var(--font-main) ;
}

h1,h2{
    font-family: var(--font-heading);
    color: #256024;
}

