:root{
    --primary-color:#256024;
    --light-shades: #f6f7f6;
    --background: #153819 ;
    --color-object: #91706a;
    --color-object2: #728e72;
    --font-main: #873F2C;

    --font-heading:"DM Serif Text", serif;
    --font: "Funnel Sans", sans-serif;

}

