



main{
    display:flex;
    flex-direction:column;
    align-items: center;
    width : 400px;
    margin: 0 auto;
}

img{
    justify-content: center;
    align-items: center;
    
    width: 100%;
    background: #000;
    animation: fade 15s;

}

h1{
    justify-self: center;
    padding: 25px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


footer{
    justify-self: center;
    padding: 25px;
}

