

header {
    background-color: rgb(105, 101, 101);
    color: white;
    padding: 2px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

header h1 {
    font-size: 2em;
    text-align: left;
    grid-row-start: 1 ;
    grid-row-end: 3;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: black;

}

li {
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    justify-content: center;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0;

}

main h2{
    padding-left: 10px;
}

.bigbox{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: silver;
    margin: 1px;

}

footer {
    background-color: rgb(105, 101, 101);
    color: white;
    padding: 2px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

footer p {
    font-size: small;
    text-align: center;
    grid-row-start:4 ;

}
