
body{
    color:rgb(45, 45, 17);
    background-color: bisque;
    font-family: Roboto;
}

header{
    border: 5px 0px 0px 0px solid rgb(250, 198, 134);
    border-bottom: 25px solid rgb(253, 202, 139);
    
}
h1{
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 245, 242);
    text-align: center;
    justify-content: center;
}

.data{
    padding: 15px;
    grid-row-start: 2;
    grid-row-end: 3;
}
h2{
    font-size:xx-large;
}

.weather{
    grid-row-start: 3;
    grid-row-end: 4;
}

footer{
    justify-content: center;
    text-align: center;
    background-color:rgb(253, 202, 139);
    padding: 20px;
   
}
#lastModified{
    font-size: small;
}
#currentYear{
    font-weight: bold;
}