
:root {
    --primary-color: #256024;
    --background: #f6f7f6;
    --color-object3: #153819;
    --color-object: #91706a;
    --color-object2: #728e72;
    --font-main: #873F2C;

    --font-heading: "DM Serif Text", serif;
    --font: "Funnel Sans", sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--background);
    color: var(--font-main);
}

h1,
h2 {
    font-family: var(--font-heading);
    color: var(--primary-color);
}

div h2 {
    justify-self: center;
    font-size: xx-large;
}

section{
    margin: 10px;
    background-color: #728e726e;
}
div{

}

header img{
    justify-self: center;
    display: block;
}

nav {
    background-color: var(--color-object3);
    font-size: small;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

nav a {
    display: flex;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {
    text-decoration: underline;
    background-color: #728e72;
}

#menu-button {
    font-size: 2rem;
    background: var(--color-object3);
    border: 3px solid var(--color-object2);
    border-radius: 10px;
    cursor: pointer;
    display: none;
    color: var(--background);
    margin-bottom: 25px;
    width: 100%;
    
}


@media (max-width:768px) {
    #menu-button {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        background: var(--color-object3);
        padding: 10px;
        margin-top: 10px;
        align-items: center;
    }
    nav ul.show {
        display: flex;
    }
}

.hero img{
    justify-self: center;
    align-items: center;
    top: 50px;
    max-width: 100%;
    height: auto;
    margin: 0%;
}

.hero p{
    padding: 0px 50px 0px 50px;
}

.content{
    background-color: #f6f7f6 ;
    padding: 10px;
}

.experienceSec {
    padding: 20px;
    background-color: #c7e13963;
}

.experience {
    background-color:#f6f7f6;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    box-shadow: 2px 1px 5px 2px #accb2e81;
}

.experience p{
    padding: 0px 50px 10px 50px ;
    justify-self: center;
    text-align: center;
}
.experience a{
    color:#873F2C;
}

.experience h3{
    justify-self: center;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    display: none;
}

.carousel-images img.active {
    display: block;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}



.carousel {
    justify-content: center;
    display: flex;
    width: 450px;
    height: auto;

}

.carousel img {
    border-radius: 35px;
}

.phrase{
    padding: 40px;
    padding-bottom: 50px;
    justify-items: center;
}

.phrase button{
    border: none;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    background-image: linear-gradient(#153819, #153819a5);
}
.phrase a{
    text-decoration: none;
    color:#f6f7f6;
}



footer{
    justify-items: center;
    padding: 20px;
    background-color: var(--color-object3);
    color:#f6f7f6;
}

.highlight {
    font-weight: bold;
}

.small{
    font-size: small;

}